body {
    background-color: bisque;
}
.banner {
    z-index: 9;
    position: relative;
    padding: 10px;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/about-banner.jpg);
  }
  
 
  .banner h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    z-index: 999;
    position: relative;
  }
  

  .banner .banner-cover {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:#7C0000;
    opacity: .5;
    width: 100%;
    z-index: 99;
  }