html,
body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.black-cover {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  width: 100%;
  z-index: 9;
}

h1 {
  font-size: 3rem;
  font-family: 'League Spartan', sans-serif;

}

p {
  font-family: 'Montserrat', sans-serif;
}

.content-area {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(../images/background-image-home.jpg);
}


.content-area .area1 .logo {
  display: none;
}

.area {
  z-index: 999;
  position: relative;
  width: 70%;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: white;
  text-align: justify;
  justify-content: space-evenly;
}

.buttonss {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button {
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 14px;
  color: white;
  background-color: #FF1616;
  border-radius: 1rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .menu>li {
    margin: 0 1rem;
    font-size: 1rem;
  }

  .top-nav {
    padding: 1.5em;
  }

  .content-area {
    display: flex;
    align-items: baseline;
  }

  .button {
    margin-top: 10px;
    color: white;
    background-color: #FF1616;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
  }
  a{
    text-decoration: none;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }

  .menu>li {
    margin: 0 1rem;
    font-size: 1.3rem;
  }

  .top-nav {
    padding: 2em;
  }



  .content-area .area1 .logo {
    height: 150px;
    display: inline-block;
  }

  .black-cover {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    width: 100%;
    z-index: 9;
  }

  .area1 {
    display: flex;
    align-items: center;
  }

  .content-area {
    padding: 3.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 82vh;
  }

.area{
  align-items: flex-start;
}

  .buttonss {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    margin-top: 1rem;
  }


  .button {
    margin-top: 10px;
    color: white;
    background-color: #FF1616;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }
}

/*font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;*/