html,
body {
  margin: 0;
  height: 100%;
}
 
  .banner h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    z-index: 999;
    position: relative;
  }
  

  .banner .banner-cover {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:#7C0000;
    opacity: .5;
    width: 100%;
    z-index: 99;
  }
  .banner {
    z-index: 9;
    position: relative;
    padding: 10px;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/my-work-banner.jpg);
  }

h2{
  color: white;
}

.work{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.black-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
  z-index: 9;
  border-radius: 1rem;
}

.work > div {
  position: relative;
}

a{
  text-decoration: none;
}

.work > div h2 {
  position: relative;
  z-index: 99;
}

.photo {
  width: 400px;
  height: 400px;
  background-image: url(../images/photography-400x400.jpg);
  background-size: cover;
  margin: 1rem;
  text-align: center;
}

.video {
  width: 400px;
  height: 400px;
  background-image: url(../images/video-400x400.jpeg);
  background-size: cover;
  margin: 1rem;
  text-align: center;
}

.web {
  width: 400px;
  height: 400px;
  background-image: url(../images/web-400x400.jpg);
  background-size: cover;
  margin: 1rem;
  text-align: center;
}

.work > div {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center
}

  
@media (min-width: 1280px) {
  .work{
    justify-content: center;
    margin: 2rem auto;
    grid-gap: 30px;
    display: grid;
    grid-template-areas: "area1 area2"
                        "area3 area3";
  }

  .work > div {
    margin: 0;
    width: 450px;
  }

.photo{
  grid-area: area1;
}

.video{
  grid-area: area2;
}

.work .web {
  width: 930px;
  background-image: url(../images/web-800_x_400.jpg);
  grid-area: area3;
}
}